@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  font-family: "Poppins", serif;
  background: rgb(255, 255, 255);
  min-height: 100vh;
  color: white;
}

/* navbar css */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem;
}

.nav button {
  font-size: 1.6rem;
}

.logo {
  font-family: Bebas Neue;
  font-size: 1.6rem;
}

.logo span {
  font-family: Bebas Neue;
  color: #dbff4b;
  font-size: 1.6rem;
}

/* home page css */

.file-share-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 950px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  position: relative;
  min-height: 100vh;
}

/* Add this to create the gradient effect */
.file-share-container::before {
  content: "";
  position: fixed;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  width: 200vw;
  height: 100vh;
  background: radial-gradient(
    ellipse at center,
    rgb(255 255 255) 32%,
    #d4ff29 39%,
    #000000 63%
  );
  pointer-events: none;
  z-index: -1;
  max-width: 100vw;
  filter: blur(29px);
}

.connection-info {
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  font-family: Bebas Neue;
  align-items: baseline;
  justify-content: center;
  gap: 10px;
}

.connection-info p {
  font-family: Bebas Neue;
  font-size: 1.8rem;
}

#connectionId {
  font-family: Bebas Neue;
  font-size: 2.5rem;
  color: #dbff4b;
}

#fileTransfer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-drop-zone {
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.file-drop-zone:hover {
  border-color: #dbff4b;
}

.add-file-button {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 100px;
  padding-right: 32px;
  font-weight: 600;
  font-size: 1.4rem;
  color: #333;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.add-file-button::before {
  content: "+";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background: #dbff4b;
  margin: 6px;
  border-radius: 50%;
  margin-right: 16px;
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
}

.add-file-button::before :hover {
  background: #bbe027;
}

progress {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background-color: #333;
}

progress::-webkit-progress-value {
  background-color: #dbff4b;
}

#transferStatus {
  margin-top: 8px;
  color: #888;
  font-size: 14px;
}

.txt-white {
  color: white;
}

.txt-black {
  color: black;
}

.receiver-card {
  background: rgba(255, 255, 255, 0.942);
  border-radius: 26px;
  padding: 20px;
  color: black;
  border: 3px solid #dbff4b;
  position: absolute;
  max-width: 467px;
  backdrop-filter: blur(4px);
  bottom: 120px;
}

.receiver-card h3 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.connection-input {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

#peerIdInput {
  flex: 1;
  padding: 18px;
  border: 1px solid #444;
  border-radius: 17px;
  font-size: 1.08rem;
}

.connectButton {
  background: #dbff4b;
  color: #1a1a1a;
  border: none;
  padding: 12px 30px;
  border-radius: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 1.1rem;
}

.connectButton:hover {
  background: #d3f740;
  box-shadow: 1px 2px 5px rgba(82, 82, 82, 0.075);
}

.helper-text {
  color: #888;
  font-size: 14px;
  margin-top: 10px;
}

#receivedFiles {
  margin-top: 2rem;
  padding: 0;
  text-align: left;
  min-height: 0px;
  max-height: 80px;
  overflow-y: scroll;
  list-style: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#receivedFiles li {
  padding-bottom: 1rem;
}

#receivedFiles::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

#status {
  margin-top: 20px;
  text-align: center;
  color: #fefefe;
  background-color: #000000ed;
  padding: 5px 17vw;
  border-radius: 50px;
  position: absolute;
  bottom: 75px;
}

#fileInput {
  display: none;
}

#generated_link_div {
  text-align: center;
}

#generated_link_div button {
  padding: 9px 20px;
  background: #e8ff46;
  border-radius: 11px;
  border: none;
}

#shareLink {
  color: #000000;
  text-decoration: none;
}

.file-info {
  margin-top: 3rem;
}

.modal-content {
  position: absolute;
  bottom: 8px;
  background: #fcfcfcd1;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  bottom: 3vh;
  backdrop-filter: blur(8px);
}

.share-link {
  font-weight: 500;
  font-size: 1.1rem;
}

.copy-button {
  font-weight: 600;
}

#peerId-modal {
  padding: 22px;
}

.connect-section button {
  border-radius: 19px;
  padding: 9px 29px;
  font-size: 1rem;
  font-weight: 600;
  background: #e8ff46;
  border: navajowhite;
}

.id-section h3,
.random-id {
  font-family: Bebas Neue;
}

#qrcode {
  scale: 1.3;
}

.menu {
  position: fixed;
  top: 0;
  right: -300px;
  /* Hide initially */
  width: 250px;
  height: 100%;
  background: #000000fb;
  color: white;
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.541);
  transition: right 0.3s ease-in-out;
  padding: 20px;
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.menu.active {
  right: 0;
}

.sidemenu-input {
  padding: 10px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidemenu-connect {
  padding: 9px 15px;
  background-color: #dbff4c;
}

.menu ul li {
  padding: 15px 0;
  border-bottom: 1px solid #000000;
}

.menu ul li:last-child {
  border-bottom: none;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.menu button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.menu-close {
  text-align: right;
  cursor: pointer;
  font-size: 24px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  bottom: 3vh;
}

.link-container {
  background: #e8ff45;
  padding: 12px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.share-modal {
  display: flex;
  flex-direction: column;
}

.copy-button {
  background: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}

.id-section {
  text-align: center;
  margin: 20px 0;
}

.random-id {
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0;
}

.qr-section {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.help-text {
  text-align: center;
  margin: 20px 0;
}

.tutorial-link {
  color: #0066cc;
  text-decoration: none;
}

.connect-section {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.id-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.connect-button {
  background: #e8ff45;
  border: none;
  padding: 8px 24px;
  border-radius: 20px;
  cursor: pointer;
}

.close-button {
  position: relative;
  bottom: 6px;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #666;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  align-self: end;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* h1 and h2 css */

.main-heading {
  font-family: "Bebas Neue", serif;
  font-size: 24px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 3.1rem;
  margin-bottom: 1rem;
  line-height: 1.2;
  justify-content: center;
}

.subtitle {
  text-align: center;
  color: #888;
  font-size: 17px;
  margin-bottom: 1.5rem;
}

/* how to css */
.howto-title {
  text-align: center;
}

.howto-steps {
  background-color: #dbff4b;
  color: #000;
  border-radius: 12px;
  padding: 1rem;
  width: 300px; /* Keeps it the same on PC */
  text-align: left;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.howto-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Keeps PC layout the same */
}

@media (max-width: 768px) { /* Mobile-friendly layout */
  .howto-steps {
    width: 100%; /* Full width on small screens */
    max-width: 350px; /* Slightly bigger for mobile */
    text-align: center;
  }
  .footer-trademark{
    display: block !important;
  }
  .footer-static-links{
    display: block !important;
  }
}


/* feature highlights css */
.feature-highlights {
  margin: 5rem 0;
}
.feature-title {
  font-size: 20px;
  font-weight: 700;
}
.feature-description {
  font-weight: 300;
}
/* faqs css */
.faq_wrapper {
  backdrop-filter: blur(10px);
  text-align: left;
  background-color: #ffffff1a;
  color: #fff;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 12px;
}

/* footer css */
footer {
  padding: 3rem;
  background-color: black;
}

.footer-list {
  padding: 0;
  list-style: none;
}

.footer-list li {
  padding-bottom: 1rem;
}

.footer-link {
  text-decoration: none;
  color: #fff;
}

.footer-category {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.add-file-button {
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .add-file-button {
    margin-top: 1rem;
  }
  .main-heading {
    font-size: 1.8rem;
    font-weight: 400;
    font-style: normal;
  }

  .connection-input {
    flex-direction: column;
  }

  .connectButton {
    width: 100%;
  }

  .connect-section {
    flex-wrap: wrap;
  }

  .connect-section button {
    border-radius: 19px;
    padding: 15px 29px;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
  }
}

.download-close {
  text-align: right;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 15px;
  top: 0px;
  font-size: 35px;
}
#receivedFilesContainer {
  display: none;
  background: rgba(255, 255, 255);
  border-radius: 26px;
  padding: 20px;
  color: black;
  border: 3px solid #dbff4b;
  /* position: absolute; */
  max-width: 467px;
  backdrop-filter: blur(4px);
  width: 400px;
  text-align: center;
  margin: 1rem auto;
}
#dBTN {
  margin: auto;
  display: none;
  align-items: center;
  background: #dbff4b;
  border-radius: 100px;
  padding: 8px 2rem;
  font-weight: 600;
  font-size: 1.4rem;
  color: #333;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#fileInfo {
  overflow-y: scroll; /* Keep scroll functionality */
  min-height: 0px;
  max-height: 170px;
  scrollbar-width: none; /* For Firefox */
}

#fileInfo::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* white background extra code*/
.nav {
  filter: invert(1) brightness(0.1);
}
.main-heading {
  color: black;
}
.add-file-button {
  color: white !important;
  background-color: black;
}

.file-share-container::before {
  content: "";
  position: fixed;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  width: 200vw;
  height: 100vh;
  background: radial-gradient(
    ellipse at center,
    #e7ff88 32%,
    #d4ff29 39%,
    #ffffff 63%
  );
  pointer-events: none;
  z-index: -1;
  max-width: 100vw;
  filter: blur(29px);
  opacity: 1;
  transition: max-width 0.3s ease-out, opacity 0.3s ease-out;
}

.add-file-button {
  box-shadow: 1px 24px 285px 10px #dbff4c;
}
.connectButton {
  background: black;
  color: white;
}

.container-fluid {
  background: rgba(255, 255, 255, 0) !important;
  color: black;
}
.faq_wrapper {
  color: black;
}
.faq_wrapper p {
  font-weight: 600;
}

.file-share-container::before {
  max-width: var(--max-width, 100vw);
  opacity: var(--opacity, 1);
}
.menu {
  background: white;
  box-shadow: -3px 0 13px 1px rgb(0 0 0 / 4%);
}
.menu a {
  color: black;
}
.menu-close{
  color: black;
}
.connectButton:hover {
  box-shadow: rgba(82, 82, 82, 0.075) 1px 2px 5px;
  background: rgb(0, 0, 0);
}

footer{
  background-color: #dbff4b;
}

.bottom-footer {
  /* display: none; */
}
.footer-link{
  color: #000;
}
.navbar-brand img{
  filter: brightness(0.0);
}
