<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}

<body>
    {%- include navbar.html -%}

    <div class="container my-5">
       <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1 class="mb-3" style="font-size: 30px">About us</h1>
                    <p>
                        I was sitting next to a colleague at work.
                        We had to meet a tight deadline, and in order to finish our work he had to share a large file with me.
                        </p>
                       <p> The file was too large to email, we didn't have a USB stick with us, and only one of us had a MacBook, so we couldn't use AirDrop. Ultimately, the file had to be split and sent via WeTransfer.
                    </p>
                    <p>
                        I was sitting next to a colleague at work.
                        We had to meet a tight deadline, and in order to finish our work he had to share a large file with me.
                        </p>
                       <p> The file was too large to email, we didn't have a USB stick with us, and only one of us had a MacBook, so we couldn't use AirDrop. Ultimately, the file had to be split and sent via WeTransfer.
                    </p>
                    <p>
                        I was sitting next to a colleague at work.
                        We had to meet a tight deadline, and in order to finish our work he had to share a large file with me.
                        </p>
                       <p> The file was too large to email, we didn't have a USB stick with us, and only one of us had a MacBook, so we couldn't use AirDrop. Ultimately, the file had to be split and sent via WeTransfer.
                    </p>

                    <p>
                        It was an incredibly frustrating experience. I could give my colleague a toffee from a bowl on the table, but the only way I could send him a file was by literally sending it to another continent first.</p>
                </div>
            </div>
        </div>
       </div>
    </div>
    {%- include footer.html -%}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.4.7/peerjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script src="/assets/js/nav.js"></script>
    <script src="/assets/js/fileShare.js"></script>
    <script src="/assets/js/modal.js"></script>
</body>

</html>