<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}

<style>
    h1,
    h2 {
        font-size: 25px;
    }

    p,
    h1,
    h2,
    ul,
    li {
        color: black
    }
</style>

<body>
    {%- include navbar.html -%}

    <div class="container my-5">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h1 class="mb-3" style="font-size: 30px; font-weight: 600;">Contact us</h1>
                        <p>Welcome to <b>Filedropshare</b>
                        </p>


                        <p>If you have any queries, issues, or feedback about our services, please feel free to contact
                            us at  <a
                            href="mailto:filedropsharewebsite@gmail.com">filedropsharewebsite@gmail.com</a>. 

                         </p>

                         <p>We appreciate your feedback and suggestions, and our team will
                            take quick action on them. Thank you for your interest in FILEDROPSHARE!</p>
                         
                            <br>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {%- include footer.html -%}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.4.7/peerjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script src="/assets/js/nav.js"></script>
    <script src="/assets/js/fileShare.js"></script>
    <script src="/assets/js/modal.js"></script>
</body>

</html>