<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}



<style>
    h1,
    h2 {
        font-size: 20px;
        font-weight: 600;
    }

    p,
    h1,
    h2,
    ul,
    li {
        color: black
    }
</style>

<body>
    {%- include navbar.html -%}

    <div class="container my-5">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h1 class="mb-3" style="font-size: 30px; font-weight: 600;">Privacy Policy</h1>
                        <p>Welcome to Filedropshare! Your privacy is our main goal. We make sure your data remains safe
                            while using our file-sharing service.</p>

                        <h2>What We Collect</h2>
                        <p>We don’t store or access your files. Since we use peer-to-peer (P2P) technology, files
                            transfer directly from sender to recipient without uploading to any server.</p>

                        <h2>How We Ensure Security</h2>
                        <ul>
                            <li><strong>End-to-End Encryption:</strong> Your files are encrypted during transfer to
                                prevent unauthorized access.</li>
                            <li><strong>No File Retention:</strong> Since we do not store files on any server, there is
                                no risk of sharing your data with third parties.</li>
                            <li><strong>Secure Connections:</strong> We use secure protocols to establish peer-to-peer
                                connections.</li>
                        </ul>

                        <h2>Cookies and Tracking</h2>
                        <p>We do not use tracking cookies for online large file transfers. However, we may use minimal
                            cookies for website functionality, such as language preferences and session management.</p>

                        <h2>Third-Party Services</h2>
                        <p>We do not share your personal data (large videos, photos, etc.) with third parties. Any
                            analytics used will be for improving website performance without compromising user privacy.
                        </p>

                        <h2>Your Rights</h2>
                        <ul>
                            <li>Use our service without creating an account.</li>
                            <li>Request the deletion of any personal data we might have collected (e.g., cookies).</li>
                            <li>Opt-out of any non-essential tracking (if applicable).</li>
                        </ul>

                        <h2>Changes to This Privacy Policy</h2>
                        <p>We may update this Privacy Policy from time to time. Whenever we make any changes, we will
                            notify users about this update with a date at the top of this page.</p>

                        <h2>Contact Us</h2>
                        <p>If you have any other queries about this Privacy Policy, contact us at <a
                                href="mailto:filedropsharewebsite@gmail.com">filedropsharewebsite@gmail.com</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%- include footer.html -%}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.4.7/peerjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script src="/assets/js/nav.js"></script>
    <script src="/assets/js/fileShare.js"></script>
    <script src="/assets/js/modal.js"></script>
</body>

</html>